﻿@model Tooter.ViewModel.TooterViewModel

<h5>@Model.BsonObjestId</h5>
<div id="app"></div>

@section scripts{
    <script>
        window.tutorialId = '@Model.BsonObjestId'
    </script>
    <script src="~/dist/app.min.js"></script>
}