﻿<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tooter</title>
    <link href="~/node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    @RenderSection("scripts")
</body>
</html>
